* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  list-style: none !important;
  text-decoration: none;
}

.sideBarActive .active {
  display: block;
  background: #40404894;
  border-radius: 5px;
  font-weight: 500;
  border-left: 2px solid;
}

a:hover {
  color: #ffffffa5;
}

.activeServer {
  color: #999;
  padding: 6px 14px;
  background: #99999959;
}

.activeSeriNumber .active button {
  background-color: #999;

}

/* .ant-skeleton-element {
  background-color: rgba(0, 0, 0, 0.35);
}

.ant-skeleton-title,
.ant-skeleton-paragraph {
  background-color: #eee;
} */

.hiddenn {
  display: none !important;
}